{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contacto.css">
    <title>Concacto</title>
</head>
<body>
    <header>
        <h1>Veterinaria Patitas Felices</h1>
        <p>Cuidamos a tus mejores amigos</p>
    </header>

    <nav>
        <a href="principal.html">Inicio</a>
        <a href="cuidadomasc.html">Cuidados</a>
        <a href="doctores.html">Doctores</a>
        <a href="productosmasc.html">Productos</a>
        <a href="contactoyserv.html">Contacto</a>
    </nav>

    <section id="contacto">
        <h2>Contacto</h2>

        <p>Dirección: Av. Principal #123</p>

        <p>Teléfono: 81 1234 5678</p>

        <p>Email: contacto@patitasfelices.com</p>
    </section>

    <section id="ubicacion">
        <img src="img/ubicacion.jpg" alt="Croquis de la Ubicacion">
    </section>

    <footer>
        <p>Veterinaria Patitas Felices © 2026</p>
    </footer>
</body>
</html>