{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cuidados.css' %}">
    <title>Cuidados de Mascotas · Patitas Felices</title>
</head>
<body>
    <header>
        <h1>Veterinaria Patitas Felices</h1>
        <p>Cuidamos a tus mejores amigos</p>
    </header>

    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'cuidados' %}">Cuidados</a>
        <a href="{% url 'doctores' %}">Doctores</a>
        <a href="{% url 'productos' %}">Productos</a>
        <a href="{% url 'contacto' %}">Contacto</a>
    </nav>

    <h2>Cuidados Especiales para tu mascota</h2>
    <article>
        <h4>Corte de Uña</h4>
        <p>Cortar las uñas a una mascota (especialmente perros) es fundamental para evitar dolor al caminar, problemas articulares, infecciones y deformaciones en las patas.</p>
        <img src="{% static 'img/corteunaperro.jpg' %}" alt="Corte de uña perro">
    </article>

    <article>
        <h4>Corte y Cepillado de Pelo</h4>
        <p>El cepillado frecuente elimina el pelo muerto, suciedad y parásitos, previene nudos dolorosos que causan dermatitis, ayuda a regular su temperatura corporal, distribuye aceites naturales y fortalece el vínculo afectivo</p>
        <img src="{% static 'img/corteperro.jpg' %}" alt="Corte de Pelo en Perro">
    </article>

    <article>
        <h4>Vacunación</h4>
        <p>Vacunar a los perros es fundamental para estimular su sistema inmunológico, creando defensas contra virus y bacterias mortales. Sirven para prevenir enfermedades graves, garantizar una vida larga y saludable, y proteger a la familia humana de enfermedades zoonóticas (que se transmiten de animales a personas), como la rabia</p>
        <img src="{% static 'img/vacunacion.webp' %}" alt="Vacunación de Perro">
    </article>

    <article>
        <h4>Desparasitación</h4>
        <p>Desparasitar a los perros es esencial para eliminar y prevenir parásitos internos (lombrices, gusanos del corazón) y externos (pulgas, garrapatas), protegiendo su salud digestiva, respiratoria y cutánea. Esto previene enfermedades graves, anemia, alergias y evita el contagio de enfermedades zoonóticas a los humanos, especialmente niños.</p>
        <img src="{% static 'img/desparacitacion.png' %}" alt="Calendario de Desparasitación">
    </article>

    <article>
        <h4>Alimentación Balanceada de Calidad</h4>
        <p>La alimentación balanceada en un perro es fundamental para garantizar su salud integral, energía y longevidad, cubriendo sus necesidades específicas de proteínas, grasas, carbohidratos, vitaminas y minerales. Asegura un desarrollo óseo y muscular correcto, fortalece el sistema inmunológico, mejora la digestión y mantiene un pelaje brillante y piel sana</p>
        <img src="{% static 'img/alimentacionperro.jpg' %}" alt="Imagen del Plato del Bien Comer del Perro">
    </article>

    <footer>
        <p>Veterinaria Patitas Felices © 2026</p>
    </footer>

</body>
</html>